.sc-chart-bar rect {
	stroke: white;
	/*fill: #33aacc;*/
}

.sc-chart-bar text {
	fill: #fff;
}

.sc-chart-bar line.rule {
	stroke: #ccc;
	stroke-opacity: 0.5;
}

.sc-chart-bar text.rule {
	fill: #333;
}


.sc-chart-bar .xAxis {
  shape-rendering: crispEdges;
}

.sc-chart-bar .xAxis line {
  stroke: #666;
}

.sc-chart-bar .xAxis text {
  fill: #666;
}

.sc-chart-bar .xAxis .minor {
  stroke-opacity: .5;
}

.sc-chart-bar .xAxis path {
  fill: none;
  stroke-width: 1;
  stroke: #333;
}

.sc-chart-bar .yAxis {
  shape-rendering: crispEdges;
}

.sc-chart-bar .yAxis line {
  stroke: #666;
}

.sc-chart-bar .yAxis text {
  fill: #666;
}

.sc-chart-bar .yAxis .minor {
  stroke-opacity: .5;
}

.sc-chart-bar .yAxis path {
  fill: none;
  stroke-width: 1;
  stroke: #333;
}

.line {
  fill: none;
  stroke: #33aacc;
}